@using res = Wheel.User.Properties.Resources
@{
    var tyre = @Model.tyreDetails;

}
<section id="product">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <div class="title">
                    <h1>@res.tyres</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <div class="product-img">
                    <img src="/adminpr/@(tyre.Images.Count > 0 ? tyre.Images[0].Path : "360_forged_-_mesh_8_custom_painted_close-up_1_large68a8.png")" alt="">

                </div>
            </div>
            <div class="col-lg-5">
                <div class="product-info">
                    <div class="name">
                        <h3>@tyre.BrandName </h3>
                        <h4>@tyre.ModelName  @tyre.Width/@tyre.Height<span>R</span>@tyre.Radius</h4>
                        <p> @Html.Raw(@tyre.Description)</p>
                    </div>
                    <div class="feature">
                        <ul>
                            <li>
                                <p>@res.dWidth</p>
                                <span>@tyre.Width</span>
                            </li>
                            <li>
                                <p>@res.dRadius</p>
                                <span>@tyre.Radius</span>
                            </li>
                            <li>
                                <p>@res.dHeight</p>
                                <span>@tyre.Height</span>
                            </li>
                            <li>
                                <p>@res.stockRemain</p>
                                <span>@(tyre.Stok > 4 ? "4+" : tyre.Stok)</span>
                            </li>
                            <li>
                                <p>@res.dUsage</p>
                                <span>@tyre.usedByText</span>
                            </li>
                            <li>
                                <p>@res.dSeason</p>
                                <span>@tyre.isWinterByText</span>
                            </li>
                        </ul>
                    </div>
                    <div style="margin-top:20px;" class="price">
                        <span> @(((tyre.Sale) * Model.currency).ToString("0")) AZN</span>
                        @if (tyre.Price > tyre.Sale)
                        {
                            <span class="line-through">@((tyre.Price * Model.currency).ToString("0")) AZN</span>

                        }

                    </div>
                </div>
            </div>
        </div>
        @if (Model.tyres.tyreList.Count > 0)
        {
            <div class="row related-products">
                <div class="col-lg-12">
                    <div class="title-related">
                        <h1>
                            @res.dRelated
                        </h1>
                    </div>
                    <div class="related-products-carousel owl-carousel">
                        @foreach (var related in Model.tyres.tyreList)
                        {
                            <div class="product-box">
                                <div class="upper">
                                    <div class="img">
                                        <img src="/adminpr/@(related.Images.Count>0 ? related.Images[0].Path : "360_forged_-_mesh_8_custom_painted_close-up_1_large68a8.png")" alt="@related.ModelName">
                                    </div>
                                </div>
                                <div class="lower">
                                    <div class="brand">
                                        <h6>
                                            @related.BrandName
                                        </h6>
                                    </div>
                                    <div class="size">
                                        <p>@related.ModelName  @related.Width/@related.Height<span>R</span>@related.Radius</p>
                                    </div>
                                    <div class="price">
                                        <span> @(((related.Price - (related.Price / 100 * related.Sale)) * Model.currency).ToString("0")) AZN</span>
                                        @if (related.Price > (related.Price - (related.Price / 100 * related.Sale)))
                                        {
                                            <span class="line-through">@((related.Price * Model.currency).ToString("0")) AZN</span>

                                        }
                                    </div>
                                    <a class="details" href="/tyres/details/?id=@related.Id">@res.details</a>
                                </div>
                            </div>

                        }
                    </div>
                </div>

            </div>

        }

    </div>
   
</section>
@section script{
    <script>

    </script>
}
