@model  Wheel.User.Models.commonModel
@using res = Wheel.User.Properties.Resources
@using set = Wheel.User.Properties.Settings


<section id="tyres">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <div class="title">
                    <h1>@res.tyres</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form action="@Url.Action("index","tyres")">
                    <div class="row sorting ">


                        <div class="col-lg-4">

                            <div class="sort">
                                <p>@res.show</p>
                                <select name="limit" class="selectpicker">
                                    <option @(ViewBag.limit == 8 ?"selected":"") value="8">8</option>
                                    <option @(ViewBag.limit == 16 ?"selected":"") value="16">16</option>
                                    <option @(ViewBag.limit == 24 ?"selected":"") value="24">24</option>
                                </select>

                            </div>

                        </div>
                        <div class="col-lg-4">
                            <div class="sort">
                                <p>@res.sortBy</p>
                                <select name="order" class="selectpicker">
                                    <option value="">@res.featured</option>
                                    <option @(ViewBag.order == res.orderPriceLtH ? "selected":"") value="price">@res.orderPriceLtH</option>
                                    <option @(ViewBag.order == @res.orderPriceHtL ? "selected":"")  value="priceDesc">@res.orderPriceHtL</option>
                                    <option @(ViewBag.order == @res.orderOldToNew ? "selected":"") value="id">@res.orderOldToNew</option>
                                    <option @(ViewBag.order == @res.orderNewToOld ? "selected":"") value="idDesc">@res.orderNewToOld</option>
                                    <option  @(ViewBag.order == @res.brand ? "selected":"") value="brandAsc" selected="selected">@res.brand</option>
                                </select>

                            </div>
                        </div>
                        <div class="sort-button">
                            <button class="btn-sort" type="submit">Sort</button>

                        </div>

                    </div>
                </form>

            </div>
        </div>
        <div id="products">
            <div class="row">
                @foreach (var item in Model.saleTyres.tyreList)
                {
                    <div class="col-lg-3">
                        <a href="/tyres/details/?id=@item.Id">
                            <div class="product-box">
                                <div class="upper">
                                    <div class="img">
                                        <img src="/adminpr/@(item.Images.Count>0 ? item.Images[0].Path : "360_forged_-_mesh_8_custom_painted_close-up_1_large68a8.png")">
                                    </div>
                                </div>
                                <div class="lower">
                                    <div class="brand">
                                        <h6>
                                           @item.BrandName
                                        </h6>
                                    </div>
                                    <div class="size">
                                        <p>@item.ModelName  @item.Width/@item.Height<span>R</span>@item.Radius</p>
                                    </div>
                                    <div class="price">
                                        <span> @(((item.Price - (item.Price / 100 * item.Sale)) * Model.currency).Value.ToString("0")) AZN</span>
                                        @if (item.Price > (item.Price - (item.Price / 100 * item.Sale)))
                                        {
                                            <span class="line-through">@((item.Price * Model.currency).ToString("0")) AZN</span>

                                        }

                                    </div>

                                    <a class="details" href="/tyres/details/?id=@item.Id">@res.details</a>
                                </div>
                            </div>
                        </a>
                    </div>
                }
         
              
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <nav aria-label="...">
                        <ul class="pagination justify-content-center">
                            @if (ViewBag.page > 1)
                            {
                                <li class="page-item">
                                    <a class="page-link prev" href="@Url.Action("index","tyres",new {page=ViewBag.page-1,BrandId = Model.tyreSearchModel.BrandId,
                                     ModelId = Model.tyreSearchModel.ModelId , Width = Model.tyreSearchModel.Width, Height = Model.tyreSearchModel.Height, Radius = Model.tyreSearchModel.Radius,  order = ViewBag.order,limit=ViewBag.limit    })">
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                            }
                            @for (int k = 0; k < ViewBag.total; k++)
                            {
                                <li class="page-item @(ViewBag.page==k+1?"active":"")"><a class="page-link" href="@Url.Action("index","tyres",new {page=k+1,BrandId = Model.tyreSearchModel.BrandId,
                                     ModelId = Model.tyreSearchModel.ModelId , Width = Model.tyreSearchModel.Width, Height = Model.tyreSearchModel.Height, Radius = Model.tyreSearchModel.Radius,
                                      order = ViewBag.order,limit=ViewBag.limit                                                    })">@(k+1)</a></li>

                            }
                            @if (ViewBag.page < ViewBag.total)
                            {
                                <li class="page-item">
                                    <a class="page-link next" href="@Url.Action("index","tyres",new {page=ViewBag.page+1,BrandId = Model.tyreSearchModel.BrandId,
                                     ModelId = Model.tyreSearchModel.ModelId , Width = Model.tyreSearchModel.Width, Height = Model.tyreSearchModel.Height, Radius = Model.tyreSearchModel.Radius,  order = ViewBag.order,limit=ViewBag.limit    })">
                                        <i class="fa fa-angle-right"></i>

                                    </a>
                                </li>
                            }
                         
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

