@using res = Wheel.User.Properties.Resources
<div id="main" role="main">
    <div class="container">
        <div class="row">
            <div class="main_content col-sm-9 col-sm-push-3">

                <div class="contact-scope">

                    <h1 class="page_heading">@res.contact</h1>


                    <!--  GOOGLE MAP -->
                    <div id="google_map" style="position: relative; overflow: hidden;"><div style="height: 100%; width: 100%; position: absolute; background-color: rgb(229, 227, 223);"><div class="gm-style" style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0;"><div style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0; cursor: url(&quot;http://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;) 8 8, default;"><div style="position: absolute; left: 0px; top: 0px; z-index: 1; width: 100%; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 0, 0);"><div style="position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;"><div style="width: 256px; height: 256px; position: absolute; left: 179px; top: -106px;"></div><div style="width: 256px; height: 256px; position: absolute; left: 179px; top: 150px;"></div><div style="width: 256px; height: 256px; position: absolute; left: 435px; top: -106px;"></div><div style="width: 256px; height: 256px; position: absolute; left: 435px; top: 150px;"></div><div style="width: 256px; height: 256px; position: absolute; left: -77px; top: -106px;"></div><div style="width: 256px; height: 256px; position: absolute; left: -77px; top: 150px;"></div><div style="width: 256px; height: 256px; position: absolute; left: 691px; top: -106px;"></div><div style="width: 256px; height: 256px; position: absolute; left: 691px; top: 150px;"></div></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: -1;"><div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;"><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 179px; top: -106px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 179px; top: 150px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 435px; top: -106px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 435px; top: 150px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -77px; top: -106px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -77px; top: 150px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 691px; top: -106px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 691px; top: 150px;"></div></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;"><div style="position: absolute; left: 179px; top: -106px; transition: opacity 200ms ease-out;"><img src="http://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i17!2i65535!3i65535!4i256!2m3!1e0!2sm!3i369047127!3m14!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi04NXxwLmw6MTMscy50OjQ5fHMuZTpnfHAuYzojZmZmZmZmZmY!4e0!5m1!5f2&amp;token=46332" draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 179px; top: 150px; transition: opacity 200ms ease-out;"><img src="http://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i17!2i65535!3i65536!4i256!2m3!1e0!2sm!3i369047127!3m14!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi04NXxwLmw6MTMscy50OjQ5fHMuZTpnfHAuYzojZmZmZmZmZmY!4e0!5m1!5f2&amp;token=45269" draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 435px; top: -106px; transition: opacity 200ms ease-out;"><img src="http://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i17!2i65536!3i65535!4i256!2m3!1e0!2sm!3i369047127!3m14!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi04NXxwLmw6MTMscy50OjQ5fHMuZTpnfHAuYzojZmZmZmZmZmY!4e0!5m1!5f2&amp;token=74933" draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 435px; top: 150px; transition: opacity 200ms ease-out;"><img src="http://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i17!2i65536!3i65536!4i256!2m3!1e0!2sm!3i369047127!3m14!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi04NXxwLmw6MTMscy50OjQ5fHMuZTpnfHAuYzojZmZmZmZmZmY!4e0!5m1!5f2&amp;token=73870" draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: -77px; top: -106px; transition: opacity 200ms ease-out;"><img src="http://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i17!2i65534!3i65535!4i256!2m3!1e0!2sm!3i369000000!3m14!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi04NXxwLmw6MTMscy50OjQ5fHMuZTpnfHAuYzojZmZmZmZmZmY!4e0!5m1!5f2&amp;token=69783" draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: -77px; top: 150px; transition: opacity 200ms ease-out;"><img src="http://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i17!2i65534!3i65536!4i256!2m3!1e0!2sm!3i369000000!3m14!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi04NXxwLmw6MTMscy50OjQ5fHMuZTpnfHAuYzojZmZmZmZmZmY!4e0!5m1!5f2&amp;token=68720" draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 691px; top: -106px; transition: opacity 200ms ease-out;"><img src="http://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i17!2i65537!3i65535!4i256!2m3!1e0!2sm!3i369047127!3m14!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi04NXxwLmw6MTMscy50OjQ5fHMuZTpnfHAuYzojZmZmZmZmZmY!4e0!5m1!5f2&amp;token=103534" draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 691px; top: 150px; transition: opacity 200ms ease-out;"><img src="http://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i17!2i65537!3i65536!4i256!2m3!1e0!2sm!3i369047127!3m14!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5zOi04NXxwLmw6MTMscy50OjQ5fHMuZTpnfHAuYzojZmZmZmZmZmY!4e0!5m1!5f2&amp;token=102471" draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 2; width: 100%; height: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 3; width: 100%; height: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 4; width: 100%; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 0, 0);"><div style="position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"></div></div></div><div style="margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;"><a target="_blank" href="https://maps.google.com/maps?ll=0,0&amp;z=17&amp;t=m&amp;hl=en-US&amp;gl=US&amp;mapclient=apiv3" title="Click to see this area on Google Maps" style="position: static; overflow: visible; float: none; display: inline;"><div style="width: 66px; height: 26px; cursor: pointer;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/google_white5_hdpi.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 66px; height: 26px; user-select: none; border: 0px; padding: 0px; margin: 0px;"></div></a></div><div style="background-color: white; padding: 15px 21px; border: 1px solid rgb(171, 171, 171); font-family: Roboto, Arial, sans-serif; color: rgb(34, 34, 34); box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; z-index: 10000002; display: none; width: 256px; height: 148px; position: absolute; left: 285px; top: 60px;"><div style="padding: 0px 0px 10px; font-size: 16px;">Map Data</div><div style="font-size: 13px;">Map data ©2016</div><div style="width: 13px; height: 13px; overflow: hidden; position: absolute; opacity: 0.7; right: 12px; top: 12px; z-index: 10000; cursor: pointer;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/mapcnt6.png" draggable="false" style="position: absolute; left: -2px; top: -336px; width: 59px; height: 492px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div><div class="gmnoprint" style="z-index: 1000001; position: absolute; right: 71px; bottom: 0px; width: 87px;"><div draggable="false" class="gm-style-cc" style="user-select: none; height: 14px; line-height: 14px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a style="color: rgb(68, 68, 68); text-decoration: none; cursor: pointer; display: none;">Map Data</a><span>Map data ©2016</span></div></div></div><div class="gmnoscreen" style="position: absolute; right: 0px; bottom: 0px;"><div style="font-family: Roboto, Arial, sans-serif; font-size: 11px; color: rgb(68, 68, 68); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);">Map data ©2016</div></div><div class="gmnoprint gm-style-cc" draggable="false" style="z-index: 1000001; user-select: none; height: 14px; line-height: 14px; position: absolute; right: 0px; bottom: 0px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a href="https://www.google.com/intl/en-US_US/help/terms_maps.html" target="_blank" style="text-decoration: none; cursor: pointer; color: rgb(68, 68, 68);">Terms of Use</a></div></div><div style="cursor: pointer; width: 25px; height: 25px; overflow: hidden; display: none; margin: 10px 14px; position: absolute; top: 0px; right: 0px;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/sv9.png" draggable="false" class="gm-fullscreen-control" style="position: absolute; left: -52px; top: -86px; width: 164px; height: 175px; user-select: none; border: 0px; padding: 0px; margin: 0px;"></div><div draggable="false" class="gm-style-cc" style="user-select: none; height: 14px; line-height: 14px; display: none; position: absolute; right: 0px; bottom: 0px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a target="_new" title="Report errors in the road map or imagery to Google" href="https://www.google.com/maps/0,0,17z/data=!10m1!1e1!12b1?source=apiv3&amp;rapsrc=apiv3" style="font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); text-decoration: none; position: relative;">Report a map error</a></div></div><div class="gmnoprint gm-bundled-control gm-bundled-control-on-bottom" draggable="false" controlwidth="28" controlheight="93" style="margin: 10px; user-select: none; position: absolute; bottom: 107px; right: 28px;"><div class="gmnoprint" controlwidth="28" controlheight="55" style="position: absolute; left: 0px; top: 38px;"><div draggable="false" style="user-select: none; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; border-radius: 2px; cursor: pointer; background-color: rgb(255, 255, 255); width: 28px; height: 55px;"><div title="Zoom in" style="position: relative; width: 28px; height: 27px; left: 0px; top: 0px;"><div style="overflow: hidden; position: absolute; width: 15px; height: 15px; left: 7px; top: 6px;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/tmapctrl_hdpi.png" draggable="false" style="position: absolute; left: 0px; top: 0px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 120px; height: 54px;"></div></div><div style="position: relative; overflow: hidden; width: 67%; height: 1px; left: 16%; background-color: rgb(230, 230, 230); top: 0px;"></div><div title="Zoom out" style="position: relative; width: 28px; height: 27px; left: 0px; top: 0px;"><div style="overflow: hidden; position: absolute; width: 15px; height: 15px; left: 7px; top: 6px;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/tmapctrl_hdpi.png" draggable="false" style="position: absolute; left: 0px; top: -15px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 120px; height: 54px;"></div></div></div></div><div class="gm-svpc" controlwidth="28" controlheight="28" style="background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; border-radius: 2px; width: 28px; height: 28px; cursor: url(&quot;http://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;) 8 8, default; position: absolute; left: 0px; top: 0px;"><div style="position: absolute; left: 1px; top: 1px;"></div><div style="position: absolute; left: 1px; top: 1px;"><div aria-label="Street View Pegman Control" style="width: 26px; height: 26px; overflow: hidden; position: absolute; left: 0px; top: 0px;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/cb_scout5_hdpi.png" draggable="false" style="position: absolute; left: -147px; top: -26px; width: 215px; height: 835px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div aria-label="Pegman is on top of the Map" style="width: 26px; height: 26px; overflow: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/cb_scout5_hdpi.png" draggable="false" style="position: absolute; left: -147px; top: -52px; width: 215px; height: 835px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div aria-label="Street View Pegman Control" style="width: 26px; height: 26px; overflow: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/cb_scout5_hdpi.png" draggable="false" style="position: absolute; left: -147px; top: -78px; width: 215px; height: 835px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div></div><div class="gmnoprint" controlwidth="28" controlheight="0" style="display: none; position: absolute;"><div title="Rotate map 90 degrees" style="width: 28px; height: 28px; overflow: hidden; position: absolute; border-radius: 2px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; cursor: pointer; background-color: rgb(255, 255, 255); display: none;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/tmapctrl4_hdpi.png" draggable="false" style="position: absolute; left: -141px; top: 6px; width: 170px; height: 54px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div class="gm-tilt" style="width: 28px; height: 28px; overflow: hidden; position: absolute; border-radius: 2px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; top: 0px; cursor: pointer; background-color: rgb(255, 255, 255);"><img src="http://maps.gstatic.com/mapfiles/api-3/images/tmapctrl4_hdpi.png" draggable="false" style="position: absolute; left: -141px; top: -13px; width: 170px; height: 54px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div></div></div></div></div>

                    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAUUQdy5XtUuo0wzvwKmm-qjgBo5hVICVA"></script>

                    <script type="text/javascript">
                        var map;

                        function initialize() {

                            var latlng = new google.maps.LatLng( 40.409793,  49.866322 );

                            var mapOptions = {
                                center: latlng,
                                zoom: 17,
                                mapTypeId: google.maps.MapTypeId.ROADMAP,
                                panControl: false,
                                zoomControl: true,
                                mapTypeControl: false,
                                scaleControl: false,
                                scrollwheel: false,
                            };

                            map = new google.maps.Map(document.getElementById('google_map'), mapOptions);

                            var geocoder = new google.maps.Geocoder();
                            var myLatLng = { lat: 40.409793, lng: 49.866322 };
                            var address = '102 Yusif Vazir Chamanzaminli';
                            var marker = new google.maps.Marker({ map: map, position: myLatLng, icon: markerImage });

                            var markerImage = new google.maps.MarkerImage(
                                '/Content/marker7d44.png',
                                new google.maps.Size(88, 88), // marker size
                                new google.maps.Point(0, 0),
                                new google.maps.Point(37, 88) // marker center point
                            );

                            var styles = [
                                {
                                    stylers: [
                                        { saturation: -85 },
                                        { lightness: 13 }
                                    ]
                                }, {
                                    featureType: "road.highway",
                                    elementType: "geometry",
                                    stylers: [
                                      { color: '#ffffff' }
                                    ]
                                }
                            ];

                            map.setOptions({ styles: styles });
                        }
                    </script>


                    @Html.Raw(Model.pageContent.GetType().GetProperty(Model.lang).GetValue(Model.pageContent, null))
                    <div class="alert alert-success" style="display:none" id="messageReport" role="alert">
                    </div>
                    <form method="post" action="#" id="contactForm" class="contact-form" accept-charset="UTF-8">
                        <input type="hidden" value="contact" name="form_type"><input type="hidden" name="utf8" value="✓">
                        <div id="contactFormWrapper">
                            <div class="row">
                                <div class="col-sm-4 form-group">
                                    <label class="sr-only">@res.yourName:</label>
                                    <input required type="text" class="form-control hint" id="contactFormName" name="name" placeholder="@res.yourName..">
                                </div>
                                <div class="col-sm-4 form-group">
                                    <label class="sr-only">@res.email:</label>
                                    <input required type="email" class="form-control hint" id="contactFormEmail" name="email" placeholder="@res.email...">
                                </div>
                                <div class="col-sm-4 form-group">
                                    <label class="sr-only">@res.phoneNumber:</label>
                                    <input type="telephone" class="form-control hint" id="contactFormTelephone" name="phone" placeholder="@res.phoneNumber...">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <label class="sr-only">@res.message:</label>
                                    <textarea required class="form-control hint" rows="5" cols="75" id="contactFormMessage" name="body" placeholder="Your Message..."></textarea>
                                </div>
                            </div>

                            <div class="btn-toolbar form-group">
                                <input type="button" id="contactFormSubmit" value="@res.send" class="btn btn-primary">
                                <input type="reset" value="Clear" class="btn btn-info">
                            </div>

                        </div><!-- contactFormWrapper -->

                    </form>
                    @section bottom{
                        <script>
                            $("#contactFormSubmit").click(function () {
                                $.ajax({
                                    url: "/pages/contact",
                                    type: "POST",
                                    data: $("#contactForm").serialize(),
                                    success: function (response) {
                                        $("#messageReport").removeClass();
                                        $("#messageReport").addClass("alert alert-" + response.status);
                                        $("#messageReport").text(response.message);
                                        $("#messageReport").show();
                                    }
                                })
                            });
                            $(document).ready(function () {
                                initialize();
                            })
                        </script>
                    }
                </div>

            </div>

            @Html.Partial("_Sidebar")

        </div>
    </div>
</div>


