@model IEnumerable<Wheel.DAL.Models.UserApp>

@{
    ViewBag.Title = "Index";
}

<div id="page_content_inner">
    <div class="md-card">
        <div class="md-card-content">
            <div class="uk-margin-bottom">
                <a href="#" class="md-btn uk-margin-right" id="printTable">Print Table</a>
                <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
                    <button class="md-btn">Columns <i class="uk-icon-caret-down"></i></button>
                    <div class="uk-dropdown">
                        <ul class="uk-nav uk-nav-dropdown" id="columnSelector"></ul>
                    </div>
                </div>
            </div>
            <div class="uk-overflow-container uk-margin-bottom">
                <table class="uk-table uk-hover uk-table-align-vertical uk-table-nowrap tablesorter tablesorter-altair" id="ts_pager_filter">
                    <thead>
                    <tr>
                        @*<th data-name="Select" data-priority="5"><input type="checkbox" class="ts_checkbox_all"></th>*@
                        <th data-priority="critical">Name</th>
                        <th data-priority="1">Email</th>
                        <th data-priority="2">Phone Number</th>
                        <th data-priority="3">Last Login Date</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        @*<th></th>*@
                        @*<th>Image</th>*@
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Last Login Date</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            @*<td><input type="checkbox" value="@user.Id" data-md-icheck class="ts_checkbox"></td>*@
                            <td>@user.UserName</td>
                            <td>@user.Email</td>
                            <td>@user.PhoneNumber</td>
                            <td>@user.LastLoginDateTime</td>
                            
                        </tr>
                    }
                    

                    </tbody>
                </table>
            </div>
            <ul class="uk-pagination ts_pager">
                <li data-uk-tooltip title="Select Page">
                    <select class="ts_gotoPage ts_selectize"></select>
                </li>
                <li class="first"><a href="javascript:void(0)"><i class="uk-icon-angle-double-left"></i></a></li>
                <li class="prev"><a href="javascript:void(0)"><i class="uk-icon-angle-left"></i></a></li>
                <li><span class="pagedisplay"></span></li>
                <li class="next"><a href="javascript:void(0)"><i class="uk-icon-angle-right"></i></a></li>
                <li class="last"><a href="javascript:void(0)"><i class="uk-icon-angle-double-right"></i></a></li>
                <li data-uk-tooltip title="Page Size">
                    <select class="pagesize ts_selectize">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                    </select>
                </li>
            </ul>
        </div>
    </div>
   
</div>
@section scripts
{
    <script src="/Content/assets/js/pages/plugins_tablesorter.min.js"></script>
}
